body{
    font-family: 'Carlito';
    margin: 0; 
    padding: 0;
}

header{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    height: 5%;
    font-size: 103%;
}

header .logo{
    display: flex;
    align-items: center;
    margin-left: 10%;
}

header .logo p{
    margin-left: 1em;
}

header .logo .logoimg{
    height: 15%;
    width: 15%;
}

header .button{
    display: flex;
    align-items: center;
    margin-left: 52%;
    height: 40%;
}

header .button #button1{
    border-radius: 10px;
    font-size: 90%;
    font-family: 'Carlito';
    width: 200px;
    height: 110%;
    background-color: black;
    color: white;
    border: solid white 1px;
    margin-right: 2%;
}
header .button #button2{
    border-radius: 10px;
    font-size: 90%;
    font-family: 'Carlito';
    width: 60%;
    height: 110%;
    color: white;
    background-color: #4C5FD5;
    border: none;
}

nav{
    font-size: 330%;
    text-align: center;
    align-items : center;
    vertical-align: middle;
    background-color: #dadbf1;
    padding: 2.5%;
}


input[type="search"] {
    width: 100%;
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}
  
button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' class='bi bi-search' viewBox='0 1 24 24'%3E%3Cpath d='m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

form {
    width: 27%;
    height: 100%;
    color: #555;
    display: flex;
    padding: 0.1%;
    border: 1px solid currentColor;
    background-color: white;
}

.container {
    height: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}



footer {
    width: 100%;
    position: absolute;
    height: auto;
    color: white;
    background-color: black;
    margin-top: 5%;
}
footer .info {
    float: left;
    box-sizing: border-box;
    padding: 0% 5% 3% 3%;
    height: 250px;
}
footer .info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer .info h1 {
    font-size: 180%;
}

footer .info ul li {
    font-size: 90%;
    width: 150%;
}

footer .info .info2{
    width: 100%;
    margin-top: 50%;
    margin-left: 50%;
}

.logoimgfooter{
    width: 23%;
    height: 20%;
    
}

.copyright{
    float:right;
}


.flex-grid {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 1%;
    margin-top: 2%;
}
  
.ab-all{
    display: flex;
    flex-flow: column;
    margin-inline: 1%;
    margin-top: 1%;
    width: 40%;
    height: 200%;
    margin-left: 0px;
    overflow:auto;
    display:block;
}
  
.ab-img{
    height: 13%;
    width: 13%;
    float: left;
    margin-right: 10px;
    clear:both;
}

.ab-title{
    font-size: 120%;
}
  

.ab-link{
    text-decoration: none;
}

